.c-toast-wrapper {
  position: absolute;
  top: 12px;
  left: 50%;
  padding: 8px;
  color: var(--color-1);
  background: #fff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px 8px hsl(0deg 0% 39% / 20%);
  border-radius: 4px;
  animation: slidedown 3s linear 1 alternate forwards;
  transform: translate(-50%, 0);
  @keyframes slidedown {
    0% {
      transform: translate(-50%, calc(-100% - 12px));
    }
    6% {
      transform: translate(-50%, 0);
    }
    94% {
      transform: translate(-50%, 0);
    }
    100% {
      transform: translate(-50%, calc(-100% - 12px));
    }
  }
}
